:root {
	--eplayer-padding: 16px;
	--eplayer-radius: 8px;
	--eplayer-controls-height: 36px;
	--eplayer-progress-height: 8px;
	--eplayer-progress-button-height: 20px;
	--eplayer-progress-button-border: 2px;
	--eplayer-progress-button-radius: 50%;
	--eplayer-progress-radius: 16px;

	--eplayer-color-background: #FFFFFF;
	--eplayer-color-primary: #56B6C2;
	--eplayer-color-primary-hover: #3D9DA9;
	--eplayer-color-button-background: transparent;
	--eplayer-color-button-background-hover: transparent;
	--eplayer-color-progress: var(--eplayer-color-primary);
	--eplayer-color-progress-background: #D6DBDB;
	--eplayer-color-progress-button-background: var(--eplayer-color-primary);
	--eplayer-color-progress-button-background-hover: var(--eplayer-color-primary-hover);
	--eplayer-color-progress-button-border: var(--eplayer-color-background);
}

.player-hidden {
	display: none;
}

.player {
	background: var(--eplayer-color-background);
	border-radius: var(--eplayer-radius);
	padding: var(--eplayer-padding);
}

.player-controls {
	align-items: center;
	display: flex;
}

.player-play-btn {
	align-items: center;
	background: var(--eplayer-color-button-background);
	border: none;
	cursor: pointer;
	display: flex;
	height: var(--eplayer-controls-height);
	justify-content: center;
	width: var(--eplayer-controls-height);
}

.player-play-btn:hover {
	fill: var(--eplayer-color-button-background-hover);
}

.icon-container {
	fill: transparent;
	stroke: none;
}

.player-play-btn svg {
	color: var(--eplayer-color-primary);
	display: block;
	height: var(--eplayer-controls-height);
	/* left: 0.5px; */
	position: relative;
	width: var(--eplayer-controls-height);
}

.player-play-btn:hover svg {
	color: var(--eplayer-color-primary-hover);
}

.player-timeline {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: space-between;
	padding-left: 10px;
}

.player-progress {
	background-color: var(--eplayer-color-progress-background);
	border-radius: var(--eplayer-progress-radius);
	cursor: pointer;
	height: var(--eplayer-progress-height);
	outline: none;
	-webkit-appearance: none;
	width: 100%;
	/* background: var(--eplayer-color-progress-background);
	display: flex;
	cursor: pointer;
	height: var(--eplayer-progress-height);
	postion: relative;
	border-radius: calc(4 * var(--eplayer-progress-height));
	margin: 0 5px;
	flex: 10;
	flex-basis: 100%;
	overflow: visible; */
}

.player-progress::-webkite-slider-thumb {
	appearance: none;
	background-color: var(--eplayer-color-progress-button-background);
	border-radius: var(--eplayer-progress-button-radius);
	border: var(--eplayer-progress-button-border) solid var(--eplayer-color-progress-button-border);
	cusror: pointer;
	height: var(--eplayer-progress-button-height);
	-webkit-appearance: none;
	width: var(--eplayer-progress-button-height);

}

.player-progress::-moz-range-thumb {
	background-color: var(--eplayer-color-progress-button-background);
	border-radius: var(--eplayer-progress-button-radius);
	border: var(--eplayer-progress-button-border) solid var(--eplayer-color-progress-button-border);
	cursor: pointer;
	height: var(--eplayer-progress-button-height);
	width: var(--eplayer-progress-button-height);
}

/* .player-progress-filled {
	height: var(--eplayer-progress-height);
	background: var(--eplayer-color-progress);
	flex: 0;
	flex-basis: 0%;
	border-radius: calc(4 * var(--eplayer-progress-height));
	overflow: visible;
	position: relative;
}

.player-progress-button {
	background-color: var(--eplayer-color-progress-button-background);
	border: var(--eplayer-progress-button-border) solid var(--eplayer-color-progress-button-border);
	border-radius: 50%;
	cursor: pointer;
	height: var(--eplayer-progress-button-height);
	position: absolute;
	right: calc(var(--eplayer-progress-button-height) * -0.5);
	top: calc((var(--eplayer-progress-button-height) - var(--eplayer-progress-height)) * -0.5);
	width: var(--eplayer-progress-button-height);
}

.player-progress-button:hover,
.player-progress-button:active {
	background-color: var(--eplayer-color-progress-button-background-hover);
} */

.player-time {
	padding: 2px 8px;
}
/*
.player-volume-container {
	width: 15%;
}

.player-volume {
	height: 28px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
	background: transparent;
}

.player-volume:focus {
	outline: none;
}

.player-volume::-webkit-slider-runnable-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	animate: 0.2s;
	background: #0e0e0e;
	border-radius: 10px;
}

.player-volume::-webkit-slider-thumb {
	height: 16px;
	width: 16px;
	border-radius: 100px;
	border: none;
	background: #0e0e0e;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -4px;
}

.player-volume:focus::-webkit-slider-runnable-track {
	background: #0e0e0e;
}

.player-volume::-moz-range-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	animate: 0.2s;
	background: #0e0e0e;
	border-radius: 10px;
}

.player-volume::-moz-range-thumb {
	height: 16px;
	width: 16px;
	border-radius: 100px;
	border: none;
	background: #0e0e0e;
	cursor: pointer;
	margin-top: -4px;
}

.player-volume::-ms-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	animate: 0.2s;
	background: #0e0e0e;
	border-radius: 10px;
}

.player-volume::-ms-fill-lower {
	background: #0e0e0e;
	border-radius: 10px;
}

.player-volume::-ms-fill-upper {
	background: #0e0e0e;
	border-radius: 10px;
}

.player-volume::-ms-thumb {
	margin-top: 1px;
	height: 15px;
	width: 15px;
	border-radius: 5px;
	border: none;
	background: #0e0e0e;
	cursor: pointer;
}

.player-volume:focus::-ms-fill-lower {
	background: #38bdf8;
}

.player-volume:focus::-ms-fill-upper {
	background: #38bdf8;
}*/
